body, ul, li, p{
   margin: 0;
   padding: 0;
   list-style: none;
   font-size: 1.2rem;
   font-family: arial;
}

.logo{
   width: 12%;
   margin-left: 50px;
}

a{
   text-decoration: none;
   color: #fff;
}

.header{
   background-color: black;
   border: 4px solid black;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

.menu{
   display: flex;
}

.menu li{
   margin-left: 10px;
}

.menu li a{
   display: block;
   padding: 10px;
   background-color: rgb(246, 63, 63);
}

.flex{
   min-height: 100vh;
   background-color: darkgray;
   display: flex;
   flex-direction: column;
}

.imagem{
   width: 400px;
   height: auto;
}

.item{
   display: flex;
   align-items: flex-start;
   border: 2px solid black;
   margin: 10px;
}

.paragrafo{
   padding: 10px;
   text-align: center;
   margin: 95px;
   font-family: 'Poppins';
}

.paragrafo-preco{
   padding: 10px;
   margin-left: 200px;
   text-align: center;
   font-family: 'Poppins'; 
}

.paragrafo-sabores{
   padding: 10px;
   margin-left: 200px;
   text-align: center;
   font-family: 'Poppins';
}

.footer{
   background-color: rgb(243, 249, 253);
   padding: 15px;
   color: black;
   font-size: 30px;
}

.redesSociais{
   display: flex;
   justify-content: center;
   align-items: center;
}

.redeLogo{
   margin: 10px;
   padding: 5px;
   width: 40px;
   height: auto;
}
